package org.zubtsov.linguistics.dictionary.entities.characteristics;

import java.util.stream.Stream;

#macro( enumName )${configFileName.substring(0,$configFileName.indexOf("."))}#end
#macro( varName )${configFileName.substring(0,$configFileName.indexOf(".")).toLowerCase()}#end
public enum #enumName() {
    ##
    #foreach($possibleValue in $possibleValues)$possibleValue#if($foreach.hasNext || !$specialValues.isEmpty()), #end#end
    #foreach($specialValue in $specialValues)$specialValue#if($foreach.hasNext), #end#end;

    private static final #enumName[] cachedRealValues = Stream.of(values())
            .filter(#varName() -> !#varName().equals(НЕИЗВЕСТНО))
            .toArray(#enumName[]::new);

    public static #enumName[] realValues() {
        return cachedRealValues;
    }
}
